@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

.font-style {
  font-family: "Rubik", sans-serif;
}
/* Add this CSS to your Header.css or your global CSS */
li.relative:hover div {
  display: block;
}

li.relative div {
  display: none;
  /* Add styling for the hidden div here */
}
